<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>GetElements</title>
</head>
<body>
    <h1>Tipos de datos</h1>
    <form>
        <label for="cadena">String</label>
        <input id="cadena" type="text"><br>
        <label for="numero">Number</label>
        <input id="numero" type="number"><br>
        <label for="boleano">Boolean</label>
        <input id="boleano" type="checkbox"><br>

        <button type="button" id="btn_validar">Ver tipo de dato</button>
    </form>

    <p id="tipo_cadena"></p>
    <p id="tipo_numero"></p>
    <p id="tipo_boleano"></p>

    <script src="static/js/script.js"></script>
</body>
</html>